In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn import linear_model, tree, ensemble
import warnings 
warnings.simplefilter('ignore')

## student_scores.csv

In [2]:
train_data = pd.read_csv('student_scores.csv')
train_data.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [3]:
y = train_data.Scores

In [4]:
train_data.drop(['Scores'], axis=1, inplace=True)
# train_data.drop(['LotFrontage', 'GarageYrBlt', 'MasVnrArea'], axis=1, inplace=True)
# numeric_col= [cname for cname in train_data if train_data[cname].dtype in ['int64', 'float64']]
X= train_data
X.head(10)

   Hours
0    2.5
1    5.1
2    3.2
3    8.5
4    3.5
5    1.5
6    9.2
7    5.5
8    8.3
9    2.7

In [5]:
X.shape

(25, 1)

In [14]:
kf= StratifiedKFold(n_splits=3, random_state=42, shuffle=True)
cnt=1
for train_index, test_index in kf.split(X,y):
    print(f'Fold:{cnt}, Train Set: {len(train_index)}, Test set: {len(test_index)}')
    cnt+=1

Fold:1, Train Set: 16, Test set: 9
Fold:2, Train Set: 17, Test set: 8
Fold:3, Train Set: 17, Test set: 8

In [15]:
def rmse(score):
    rmse = np.sqrt(-score)
    print(f'rmse= {"{:.2f}".format(rmse)}')

In [16]:
score=cross_val_score(linear_model.LinearRegression(), X,y, cv=kf, scoring='neg_mean_squared_error')
print(f'Scores for each fold: {score}')
rmse(score.mean())

Scores for each fold: [-45.6014272  -17.69606271 -30.74842343]
rmse= 5.60

# petrol_consumption.csv

In [25]:
train_data = pd.read_csv('petrol_consumption.csv')
train_data.head(10)

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410
5,10.0,5342,1333,0.571,457
6,8.0,5319,11868,0.451,344
7,8.0,5126,2138,0.553,467
8,8.0,4447,8577,0.529,464
9,7.0,4512,8507,0.552,498

In [26]:
y = train_data.Petrol_Consumption

In [27]:
train_data.drop(['Petrol_Consumption'], axis=1, inplace=True)
# numeric_col= [cname for cname in train_data if train_data[cname].dtype in ['int64', 'float64']]
# X= train_data[numeric_col].copy()
X= train_data
X.head(10)

   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580
3         7.5            4870            2351                         0.529
4         8.0            4399             431                         0.544
5        10.0            5342            1333                         0.571
6         8.0            5319           11868                         0.451
7         8.0            5126            2138                         0.553
8         8.0            4447            8577                         0.529
9         7.0            4512            8507                         0.552

In [29]:
X.shape

(48, 4)

In [46]:
kf= StratifiedKFold(n_splits=2, random_state=42, shuffle=True)
cnt=1
for train_index, test_index in kf.split(X,y):
    print(f'Fold:{cnt}, Train Set: {len(train_index)}, Test set: {len(test_index)}')
    cnt+=1

Fold:1, Train Set: 24, Test set: 24
Fold:2, Train Set: 24, Test set: 24

In [47]:
def rmse(score):
    rmse = np.sqrt(-score)
    print(f'rmse= {"{:.2f}".format(rmse)}')

In [48]:
score=cross_val_score(linear_model.LinearRegression(), X,y, cv=kf, scoring='neg_mean_squared_error')
print(f'Scores for each fold: {score}')
rmse(score.mean())

Scores for each fold: [-7429.88762353 -8413.60923109]
rmse= 89.00